/node_modules
/.phpunit.cache
/gateway/public/build
/gateway/public/hot
/gateway/public/storage
/storage/*.key
/gateway/storage/pail
/vendor
/gateway/config/gwdg.php
/gateway/config/ollama.php

.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
.DS_Store

# IDE / Editor directories
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.lightrag-audit
/.lightrag-audit-env
gateway/resources/js/crawler
/rag_storage/
*.json
