/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

/* Not using tailwind for now, but custom CSS */

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b1b1b;
    color: #fff;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 15px;
    margin: 40px;
}

pre {
    font-family: "Helvetica", "Arial", sans-serif;
}

::selection {
    background-color: aqua;
    color: #1b1b1b;
}

/* SELECTORS */
h1 {
    color: aqua;
    font-size: 50px;
}

a {
    color: aqua;
}

label {
    display: block;
    margin-bottom: 10px;
}

h2,
input,
textarea {
    font-size: 15px;
}

input,
button {
    height: 36px;
    border: 0;
    padding: 10px 20px;
}

input,
textarea,
button,
input::placeholder {
    color: #1b1b1b;
    font-family: "Helvetica", "Arial", sans-serif;
}

input {
    margin-right: 5px;
}

button {
    background-color: aqua;
    cursor: pointer;
    font-weight: bold;
    text-transform: lowercase;

    display: inline-block;
    vertical-align: top;
    margin-bottom: 1px;
    word-break: normal;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid #fff;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    min-width: 100px;
    background-color: rgb(1, 71, 71);
}

td {
    line-height: 1.5;
    vertical-align: top;
    word-break: break-word;
}

/* UTILITY CLASSSES */
.margin-b-40 {
    margin-bottom: 40px;
}

.flex-col-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.d-block {
    display: block;
}

.p-highlight {
    color: aqua;
    font-weight: bold; 
    margin-bottom: 40px; 
}

/* CUSTOM CLASSSES */
.modal {
    display: none;

    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.95);

    position: fixed;
    top: 0;
    left: 0;
}

.modal__wrapper {
    height: 100%;
}

.modal__wrapper h2 {
    margin-bottom: 10px;
}

.modal__wrapper textarea {
    min-width: 100px;
    line-height: 1.5;
    margin-bottom: 12px;
    padding: 12px 20px;
}

.modal__wrapper button {
    margin-right: 7px;
}